body {background-color: #cfb75b;padding: 36px}
h1 {text-align: center; color: #610822;}
h2 {text-align: center; color: #610822;}
h3 {text-align: left; color: #610822;}
p {text-align: justify; color: #610822; text-indent:40px;}
dl {text-align: center; color: #610822;}
dt {text-align: center; color: #610822;}
dd {text-align: center; color: #610822;}
a {text-align: center; color: #610822;}
img {max-width: 100%;
    display: block;
    height: auto; 
    margin-left: auto;
    margin-right: auto;}
iframe {display: block; margin-left: auto; margin-right: auto;}
figcaption {text-align:center; color: #610822; margin-left:25%; margin-right:25%;}
blockquote {text-align: justify; color: #610822;margin: 80px;}
math {text-align: center; color: #610822;margin: 80px; font-size:21px;} 
address {text-align:center;}
form {text-align:center;}